@model IEnumerable<NoteTaker.Models.Note>

@{
    ViewData["Title"] = "NoteTaker";
}

<h2>Notes</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <script>console.log(@item.NoteId)</script>
        <script>console.log(@item.Title)</script>
        <script>console.log(@item.NoteText)</script>
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.NoteId">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoteId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.NoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-default">Create New Note</a>
</p>